# build output
dist/
# astro generated types
.astro/
# deps
node_modules/
# env
.env
.env.production
# os
.DS_Store
# logs
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
