---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Lens from '../components/Lens.astro';
import ClosingWindow from '../components/ClosingWindow.astro';
import WorkList from '../components/WorkList.astro';
import FieldNotes from '../components/FieldNotes.astro';
import Who from '../components/Who.astro';
import Outside from '../components/Outside.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <span id="top"></span>
  <Nav />
  <main id="main">
    <Lens />
    <ClosingWindow />
    <WorkList />
    <FieldNotes />
    <Who />
    <Outside />
    <Contact />
  </main>
</Layout>
